/* .wrapper {
  width: 450px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px black solid;
} */
/* 
.section {
  text-align: center;
}
.list {
  text-align: left;
} */
